<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">#}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap-markdown.js') }}">
    </script>

    <script src="{{ url_for('static',filename='js/to_markdown.js') }}">

    </script>
    <script src="{{ url_for('static',filename='js/markdown.js') }}">
    </script>

    <title>Editor</title>
</head>
<body>

<div class="container" id="12345">
    <div class="col-lg-3" ,>
        {#    <div style="width:20%;float:left;">#}
        <div style="text-align:center;margin-top: 50px">
            <button onclick='window.location.replace("/");' class="btn">New Entry</button>
        </div>
        <ul class="list-group" style="margin-top:20px">
            {% for entry in entries %}
                <li onclick="load(this)" id="{{ entry._id }}" class="list-group-item">
                    <h5><b>{{ entry.title }}</b></h5>
                    {{ entry.pretty_time }} </li>
            {% endfor %}
        </ul>
    </div>
    <style>
        #title {
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;
        }

    </style>
    {#    <div class="col-lg-1"></div>#}
    <div class="col-lg-9">
        <div id="title">
            <h1 id="headd">New File</h1>

            <h3 id="time"></h3>
        </div>
        <form>
            <input name="title" type="text" placeholder="Change Title?"/>
            </br>
            </br>
            <input name="tags" type="text" placeholder="Change Tags(, seperated)?"/>
            <textarea name="content" data-provide="markdown" rows="20"></textarea>

            <input name="url" type="text" placeholder="Url?"/>
            <label class="checkbox">
                <input name="published" type="checkbox"> Published
            </label>
            <hr/>
        </form>
        <div style="text-align:right">
            <button onclick="save()" class="btn">Save</button>
        </div>
        <div style="text-align:left">
            <button onclick="del_id(this)" class="btn">Delete</button>
        </div>
    </div>
    <script>
        function save() {
            var to_r = {}
            to_r["title"] = $('[name="title"]')[0].value;
            to_r["tags"] = $('[name="tags"]')[0].value;
            to_r["url"] = $('[name="url"]')[0].value;
            to_r["content"] = $('[name="content"]')[0].value
            if ($('[name="published"]').is(':checked')) {
                to_r["published"] = "true"
            }
            else {
                to_r["published"] = "false"
            }
            to_r["id"] = $(".container")[0].id
            $.post("/save_post", to_r)
                    .done(function (data) {
                        alert("saved!")
                    });
        }

        function del_id(t){
            if($(".container")[0].id=="12345"){
                return "false"
            }
             $.post("/delete", {id: $(".container")[0].id})
                     .done(function(data){
                         console.log(data)
                     })
        }

        function load(t) {
            $.post("/load_post", {id: t.id})
                    .done(function (data) {
                        data = JSON.parse(data)
                        $('[name="title"]')[0].value = data.title;
                        $('#headd')[0].innerHTML = data.title;
                        $('[name="tags"]')[0].value = data.tags;
                        $('[name="url"]')[0].value = data.url;
                        $('#time')[0].innerHTML = data.time;
                        $('[name="content"]')[0].value = data.content;
                        $(".container")[0].id = data.id;
                        if (data.published == "false") {
                            $('[name="published"]').prop('checked', false);
                        }
                        else {
                            $('[name="published"]').prop('checked', true);
                        }

                    })

        }
    </script>
</div>
</body>
</html>